* {
  box-sizing: border-box;
}
:root {
  --header-bg: rgb(72, 212, 200);
  --bg-all: rgb(252, 252, 229);
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
/* ========common========= */
.container {
  width: 1305px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  min-width: 160px;
  line-height: 50px;
  background-color: red;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 999px;
}
.btn:hover {
  opacity: 70%;
}
/* =======header======= */
.header_fixed {
  padding-top: 10px;
  position: sticky;
  z-index: 1;
  top: -28px;
  background: var(--bg-all);
}
.header_top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.navbar__link {
  padding: 08px 21px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  color: black;
  margin-right: 1px;
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  padding: 15px;
  background-color: var(--header-bg);
  border-radius: 999px;
}
.navbar__link--active::before {
  position: relative;
  right: 8px;
  top: -3px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black;
}
.action__btn--tracuu {
  width: 250px;
}
.header_mid {
  background: var(--header-bg);
}
.header_mid .container {
  padding: 5px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon__list {
  display: flex;
}
.icon__item {
  margin-left: 10px;
}
.header_mid .phone {
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 10px 20px;
  line-height: 30px;
  color: black;
}
.header_mid .phone-number {
  margin-left: 5px;
  font-weight: bold;
}
/* ===========MAIN CONTENT=========== */
.main_content {
  background: var(--bg-all);
}
.main_content .container {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  background: --;
}
.main_content .slideshow {
  width: 70%;
}
