* {
  box-sizing: border-box;
}
:root {
  --header-bg: #e7f0e8;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
/* ========common========= */
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  min-width: 160px;
  line-height: 60px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 999px;
}
.btn:hover {
  opacity: 70%;
}
/* =======header======= */
.header {
  padding-top: 10px;
  background: var(--header-bg);
  min-height: 100vh;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.navbar__link {
  padding: 08px 21px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  color: black;
  margin-right: 1px;
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  padding: 20px;
  background-color: rgb(73, 212, 200);
  border-radius: 999px;
}
.navbar__link--active::before {
  position: relative;
  right: 8px;
  top: -3px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black;
}
.action__btn--tracuu {
  width: 250px;
}
